.card {
  cursor: pointer;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}

.dash {
  font-family: "Roboto";
  display: flex;
  height: 100%;
  margin-top: 2%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  gap: 15px;
}

.font {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.font-heading {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
}

.call-card {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
