.navbar {
  display: flex;
}

.logo {
  align-self: flex-start;
  padding: 15px;
  cursor: pointer;
}

.title {
  /* font-family: "Sacramento", cursive; */
  font-family: "Patrick Hand SC", cursive;
  font-size: 50px;
  padding-left: 10px;
  margin-bottom: 3px;
}

.homepage-logo {
  display: flex;
}

.logout-btn {
  margin-left: auto;
  padding: 20px;
}

.user-icon {
  width: 30px;
  height: 30px;
}

.menu-user-icon {
  width: 20px;
  height: 20px;
}
